In [ ]:
#finding out the type of an object
print(type(1234))
print(type(8.99))
print(type(9.0))
print(type(True))
print(type(False))
print(type(float(123)))
print(type(round(7.9)))#implicit type casting
print(type(float(round(123))))
print(type(int(7.2)))
print(type(int(7.9)))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>

In [ ]:
#Finding out the values of expressions
print((13-4)/(12*12))
print(type(4*3))
print(type(4.0*3))
print(int(1/2))

0.0625
<class 'int'>
<class 'float'>
0

In [ ]:

x=6
print(x)#variables

6

In [ ]:
6=x
print(6)#syntax error

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-8-f2f85aad2e84>, line 1)

In [ ]:
x*y=3+4
print(x*y)#cannot assign a value to an expression

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-9-fff84e551732>, line 1)

In [ ]:
xy=3+4
print(xy)#xy is just a variable name

7

In [ ]:
#re-bind the values
meters=100
feet=3.2808 * meters
meters=200
print(meters)
print(feet)

200
328.08000000000004

In [ ]:
#swap the values
x=1
y=2
temp=y
y=x
x=temp
print(x)
print(y)

2
1

In [11]:
#swapping without using a third variable
x=1
y=2
x,y=y,x
print(x)
print(y)

2
1

In [7]:
#floating point division always results in a float
x=4/2
x

2.0

In [8]:
#interger/floor division
x=4//2
x

2

In [10]:
#floor division returns the floor value for both integer and floating-point arguments
#If a number is negative then the output will be floored
x=5//2
y=-5//2
z=5.0//2
a=-5.0//2
print(x)
print(y)
print(z)
print(a)

2
-3
2.0
-3.0